src/main/webapp/wsdl/EmployeeAddSeleniumTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://seleniumTests.mvc.sample.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://seleniumTests.mvc.sample.com" xmlns:intf="http://seleniumTests.mvc.sample.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://seleniumTests.mvc.sample.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="tearDown">
    <complexType/>
   </element>
   <element name="tearDownResponse">
    <complexType/>
   </element>
   <element name="testCheck">
    <complexType/>
   </element>
   <element name="testCheckResponse">
    <complexType/>
   </element>
   <element name="setUp">
    <complexType/>
   </element>
   <element name="setUpResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="tearDownResponse">

      <wsdl:part element="impl:tearDownResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tearDownRequest">

      <wsdl:part element="impl:tearDown" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setUpRequest">

      <wsdl:part element="impl:setUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testCheckRequest">

      <wsdl:part element="impl:testCheck" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testCheckResponse">

      <wsdl:part element="impl:testCheckResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setUpResponse">

      <wsdl:part element="impl:setUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeAddSeleniumTest">

      <wsdl:operation name="tearDown">

         <wsdl:input message="impl:tearDownRequest" name="tearDownRequest">

       </wsdl:input>

         <wsdl:output message="impl:tearDownResponse" name="tearDownResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testCheck">

         <wsdl:input message="impl:testCheckRequest" name="testCheckRequest">

       </wsdl:input>

         <wsdl:output message="impl:testCheckResponse" name="testCheckResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setUp">

         <wsdl:input message="impl:setUpRequest" name="setUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:setUpResponse" name="setUpResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeAddSeleniumTestSoapBinding" type="impl:EmployeeAddSeleniumTest">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tearDown">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tearDownRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tearDownResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testCheck">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testCheckRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testCheckResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeAddSeleniumTestService">

      <wsdl:port binding="impl:EmployeeAddSeleniumTestSoapBinding" name="EmployeeAddSeleniumTest">

         <wsdlsoap:address location="http://localhost:8002/EmployeeApplicationSprint4/services/EmployeeAddSeleniumTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
